<div ng-controller="homeController">
	<div class="container">
		<div class="row">
			<div ng-click="toggleMenu()" ng-class="{'hamburger': !arrow, 'arrow-right': arrow}" class="nav-toggle">
			    <span></span>
			</div>
			<ul ng-hide="toggle">
				<li><a href="#">Home</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Work with us</a></li>
			</ul>				
		</div>	
	</div>
	<div class="container-fluid">
		<form name="consoleForm" method="post">
			<label>
				Product Name:
				<input type="text" name="product.titleName" ng-model="product.titleName">				
			</label>
			<br>
			<label>
				Brand Name:
				<input type="text" name="product.brandName" ng-model="product.brandName">
			</label>
			<br>
			<label>
				Color:
				<input type="text" name="product.productColor" ng-model="product.productColor">
			</label>
			<br>
			<label>
				Select your Image:
				<input type="file" ng-model="product.image">
			</label>
			<br>	
			<label>
				Size:
				<input type="text" name="product.productSize" ng-model="product.productSize">
			</label>
			<br>
			<label>
				MRP:
				<input type="text" name="product.mrp" ng-model="product.mrp">
			</label>
			<br>
			<label>
				Discount:
				<input type="text" name="product.discount" ng-model="product.discount">
			</label>
			<br>
			<label>
				Price:
				<input type="text" name="product.price" ng-model="product.price">
			</label>
			<br>
			<input type="submit" value="submit all details" ng-click="update(product)">
		</form>
		<p>{{Details}}</p>	
	</div>	
</div>	